/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
  --jazz1: #2a7e90;
  --jazz2: #165120;
  --jazz3: #031138;
  --jazz4: #013c40;
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  display: flex;
  align-items: flex-end;
  transform: translateY(-35px);
}

.loader span {
  width: 20px;
  height: 20px;
  background: var(--primaryColor);
  margin: 0 10px;
  height: calc(20px * var(--i));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: animate 2s linear infinite;
  animation-delay: calc(.25s * var(--i));
}

.loader span i {
  display: block;
  font-style: normal;
  font-size: 50px;
  font-weight: bold;
  transform: translateY(70px);
  animation: animate2 2s linear infinite;
  animation-delay: calc(.25s * var(--i));
}

@keyframes animate {
  0% {
    background: var(--secondaryColor);
    filter: blur(2px);
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff,
      0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
  }

  25%,
  75% {
    background: var(--primaryColor);
    filter: blur(2px);
    box-shadow: none;
  }

  100% {
    background: var(--secondaryColor);
    filter: blur(2px);
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff,
      0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
  }
}

@keyframes animate2 {
  0% {
    color: var(--secondaryColor);
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff,
      0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
  }

  25%,
  75% {
    color: var(--primaryColor);
    filter: blur(2px);
    text-shadow: none;
  }

  100% {
    color: var(--secondaryColor);
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff,
      0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
  }
}